{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div>
        <h1>Hello {{ controller_name }}! ✅</h1>

        {# React header mounts here #}
        <div id="header-react"></div>
        {{ dump(user) }}
    </div>

{% endblock %}
